/* Style inputs with type="text", select elements and textareas */
.name {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid rgb(141, 141, 141); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .email {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid rgb(141, 141, 141); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .subject{
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid rgb(141, 141, 141); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  .message{
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid rgb(141, 141, 141); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
   
  }
  
  /* Style the submit button with a specific background color etc */
  .submit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  textarea{
    resize: none;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .submit:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }